*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.conteiner{
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1462826303086-329426d1aef5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner .pageRegister{
    width: 70%;
    height:80vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px; 
}
.conteiner .pageRegister .pageInputREgister{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 70%;
    border: 1px solid white;
    height:90px ;
    gap: 20px;
   
}
#warning{
   width: 100%;
   height: 10px;
   background: transparent;
   display: flex;
justify-content: center;
align-items: center;
   position: absolute;
   top: 200px;
    
}
#warningErr p{
    color: red;
    font-weight: 400;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.conteiner .pageRegister .pageInputREgister label{
 font-size: 1.2em;
 font-weight: 600;
 color: #07e3ca;
}
.conteiner .pageRegister .pageInputREgister input{
 font-size: 1.2em;
 width: 70%;
   list-style-type: none;
   height:40px;
   border-radius: 10px;
   border: 1px solid #000;
   background: transparent;
}
.conteiner .pageRegister .pageInputREgister ::placeholder{
 font-size: 1em;
  font-weight: 300;
color: #0f3522;
}
.conteiner .pageRegister  #register{
    width: 190px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #1de2e2;
    transition: all 0.5s;
}
.registeractive{
    display: none;
}
.conteiner .pageRegister  #loadingProses{
    width: 190px;
    height: 40px;
    display: none;
    border-radius: 10px;
    background:none;
    transition: all 0.5s;
    justify-content: center;
    align-items: center;
 }
 .lds-facebook {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 70px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }

@media only screen and (max-width:1100px){
    .conteiner .pageRegister{
        width: 99%;
        height:80vh ;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }
    .conteiner .pageRegister .pageInputREgister{
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        justify-content:center;
        align-items: center;
        width: 100%;
        border: 1px solid white;
        height:80px ;
        gap: 20px;
    }
    .conteiner .pageRegister .pageInputREgister label{
        font-size: 0.9em;
        font-weight: 600;
        color: #07e3ca;
       }
    .conteiner .pageRegister .pageInputREgister input{
        font-size: 0.9em;
        width: 100%;
          list-style-type: none;
          height:40px;
          border-radius: 10px;
          border: 1px solid #000;
          background: transparent;
       }
       .conteiner .pageRegister .pageInputREgister ::placeholder{
        font-size: 0.9em;
         font-weight: 300;
       color: #0f3522;
       }
}